html {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
  color:white;
  background-color:rgb(39, 120, 207);
  font-family: arial, sans-serif;
  font-size: 330%;
  font-weight: bolder;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 20px;
}

body {
  margin: auto;
  height:100vh;
  background-color:white;
}

main {
  margin: auto;
  width: 82vw;
  max-width: 1600px;
  min-height: calc(100vh - 40px);
}

footer {
  margin: auto;
  text-align: center;
  font-size: 130%;
  line-height: 4vh;
  height: 4vh;
  color: white;
  background-color: rgb(39, 120, 207);
  clear: both;
}

section {
  margin: auto;
  width: 59%;
  position: relative;
}

p {
  color:black;
  font-size:110%;
  line-height: 145%;
  text-indent: 0px;
  text-align: justify;
}

li {
  color: "black";
  padding-bottom: 4px;
}

h1 {
  color:rgb(39, 120, 207);
  font-size: 260%;
}

h2 {
  color:rgb(39, 120, 207);
}

#python_code {
  color: rgb(0, 0, 0);
  background-color:rgba(155, 155, 155, 0);
  font-size: 100%;
}

.python_code {
  overflow: scroll;
  border-radius: 4px;
  border: solid 1px rgb(204, 204, 204);
  background-color:rgba(245, 245, 245);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

.minibr{
  display: block;
  margin: 2px;
}

.shortbr{
  margin-bottom: 8px;
}

.longbr{
  margin-bottom: 20px;
}

.minusbr{
  display: block;
  margin: -3px 0;
}

.column {
    float: left;
}
  
  /* Clearfix (clear floats) */
.row::after {
    content: "";
    clear: both;
    display: table;
}

hr {
  color:white;
  border-style:inset;
  border-width:1px;
  width:100%
}

a:link, a:visited {
  /* color:rgb(233, 88, 37) */
  color:rgb(0, 102, 255)
}

a:hover {
  color:red
}

.sidenav {
  width: 185px;
  position: absolute;
  z-index: 1; /* Stay on top */
  top: 150px;
  left: max(calc(50vw - 830px), 10px);
  font-weight: 500;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-right: 30px;
  padding-left: 10px;
  border-radius: 4px;
  background-color: rgba(172, 172, 172, 0.2);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(39, 120, 207);
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: rgba(39, 120, 207, 0.774);
}

#menu {
  padding-bottom: 11px;
}

.cadet_logo {
  float: right; 
  width: 290px;
  /* padding-right: 120px;  */
  position: absolute; 
  /* left: 79%; 
  top: 12%; */
  top: 120px;
  /* left: min(calc(50vw + 800px), calc(100vw - 10px)); */
  right: max(calc(50vw - 900px), 10px)
}

.github_logo {
  position: relative; 
  width: 100px; 
  left: 0%;
  top: -99px; 
  float: right; 
  margin-right: 0px;
}

.figure_caption {
  font-size: 93%;
}

.web_app {
  display: block;
  position: relative;
  margin: auto;
  /* width: 100%;  */
  /* max-width: 80vw; */
  width: 1500px;
  /* width: 100%; */
  height: 1250px;
  /* height: auto; */
}

/* .web_app_div {
  position: absolute;
  left: 50vh;
  margin: auto;
} */
